# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# This file contains environment variables used in the development environment
# To add a new variable, add it in this format VAR_NAME = value
# To use a variable in your code, access it using the process.env.VAR_NAME.

.env
